extends layout
block content
  #banner 
    .row 
      .col-lg-6 
        h1
          | MekanBul
          small &nbsp;Civardaki mekanları keşfedin !
  .row 
    .row-list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item
        h4 
          a(href="/mekanlar/Starbucks") Starbucks
          small &nbsp; 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.bagde-default 1 km
        p.address İyaş Market Girişi 
        p
          span.label.label-warning Dünya Kahveleri 
          | &nbsp;
          span.label.label-warning Kekler
          | &nbsp;
          span.label.label-warning Pastalar 
          | &nbsp;
  | &nbsp;
  .row 
    .row-list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item
        h4 
          a(href="/mekanlar/Arabica") Arabica
          small &nbsp; 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.bagde-default 1 km
        p.address İyaş Avm Girişi
        p
          span.label.label-warning Dünya Kahveleri 
          | &nbsp;
          span.label.label-warning Kekler
          | &nbsp;
          span.label.label-warning Pastalar 
          | &nbsp;
  | &nbsp;        
  .row 
    .row-list-group 
    .col-xs-12.col-sm-12
      .col-xs-12.list-group-item
        h4 
          a(href="/mekanlar/İyaş") İyaş
          small &nbsp; 
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.bagde-default 1 km
        p.address Otogar Karşısı 
        p
          span.label.label-warning Lokantalar 
          | &nbsp;
          span.label.label-warning Market
          | &nbsp;
          span.label.label-warning Kafeler 
          | &nbsp;